openapi: 3.0.0
info:
  title: NHL API
  description: Documenting the publicly accessible portions of the NHL API.
  contact:
    name: NHL API documentation
    url: https://github.com/erunion/sport-api-specifications
  version: 1.0.0
servers:
- url: https://statsapi.web.nhl.com/api/v1
tags:
- name: conferences
- name: divisions
- name: draft
- name: games
- name: players
- name: schedule
- name: standings
- name: stats
- name: teams
paths:
  /conferences:
    get:
      tags:
      - conferences
      summary: Get all current NHL conferences.
      description: "This only retrieves active conferences. For inactive conferences,\
        \ use `/conferences/{id}`."
      operationId: getConferences
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conferences'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Conferences
  /conferences/{id}:
    get:
      tags:
      - conferences
      summary: Get an NHL conference.
      description: "You can use this to also retrieve inactive conferences. For example,\
        \ the ID for the World Cup of Hockey is `7`."
      operationId: getConference
      parameters:
      - name: id
        in: path
        description: The ID of the conference.
        required: true
        style: simple
        explode: false
        schema:
          type: number
          example: 5
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Division'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Conferences
  /divisions:
    get:
      tags:
      - divisions
      summary: Get all current NHL divisions.
      description: "This only retrieves active divisions. For inactive divisions,\
        \ use `/divisions/{id}`."
      operationId: getDivisions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Divisions'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Divisions
  /divisions/{id}:
    get:
      tags:
      - divisions
      summary: Get an NHL division.
      description: "You can use this to also retrieve inactive divisions. For example,\
        \ the ID for the old Patrick division is `13`."
      operationId: getDivision
      parameters:
      - name: id
        in: path
        description: The ID of the division.
        required: true
        style: simple
        explode: false
        schema:
          type: number
          example: 15
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Division'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Divisions
  /draft:
    get:
      tags:
      - draft
      summary: Get round-by-round data for current year's NHL Entry Draft.
      operationId: getDraft
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Draft
  /draft/{year}:
    get:
      tags:
      - draft
      summary: Get round-by-round data for a specific year's NHL Entry Draft.
      operationId: getDraftByYear
      parameters:
      - name: year
        in: path
        description: The draft year.
        required: true
        style: simple
        explode: false
        schema:
          pattern: "^\\d{4}$"
          type: number
          example: 2018
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Draft
  /draft/prospects:
    get:
      tags:
      - draft
      summary: Get all NHL Entry Draft prospects.
      description: Be forewarned that this endpoint returns a **lot** of data and
        there does not appear to be a way to paginate results.
      operationId: getDraftProspects
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftProspects'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Draft
  /draft/prospects/{id}:
    get:
      tags:
      - draft
      summary: Get an NHL Entry Draft prospect.
      operationId: getDraftProspect
      parameters:
      - name: id
        in: path
        description: The prospect ID.
        required: true
        style: simple
        explode: false
        schema:
          type: number
          example: 65242
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftProspects'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Draft
  /game/{id}/boxscore:
    get:
      tags:
      - games
      summary: Get the boxscore for an NHL game.
      description: "If you want detailed play information, you should use `/game/{id}/feed/live`\
        \ or `/game/{id}/feed/live/diffPatch`."
      operationId: getGameBoxscore
      parameters:
      - name: id
        in: path
        description: "The ID of the game. The first 4 digits identify the season of\
          \ the game (ie. 2017 for the 2017-2018 season). The next 2 digits give the\
          \ type of game, where 01 = preseason, 02 = regular season, 03 = playoffs,\
          \ 04 = all-star. The final 4 digits identify the specific game number. For\
          \ regular season and preseason games, this ranges from 0001 to the number\
          \ of games played. (1271 for seasons with 31 teams (2017 and onwards) and\
          \ 1230 for seasons with 30 teams). For playoff games, the 2nd digit of the\
          \ specific number gives the round of the playoffs, the 3rd digit specifies\
          \ the matchup, and the 4th digit specifies the game (out of 7)."
        required: true
        style: simple
        explode: false
        schema:
          type: number
          example: 2017020851
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameBoxscores'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Games
  /game/{id}/content:
    get:
      tags:
      - games
      summary: "Get editorials, video replays and photo highlights for an NHL game."
      operationId: getGameContent
      parameters:
      - name: id
        in: path
        description: "The ID of the game. The first 4 digits identify the season of\
          \ the game (ie. 2017 for the 2017-2018 season). The next 2 digits give the\
          \ type of game, where 01 = preseason, 02 = regular season, 03 = playoffs,\
          \ 04 = all-star. The final 4 digits identify the specific game number. For\
          \ regular season and preseason games, this ranges from 0001 to the number\
          \ of games played. (1271 for seasons with 31 teams (2017 and onwards) and\
          \ 1230 for seasons with 30 teams). For playoff games, the 2nd digit of the\
          \ specific number gives the round of the playoffs, the 3rd digit specifies\
          \ the matchup, and the 4th digit specifies the game (out of 7)."
        required: true
        style: simple
        explode: false
        schema:
          type: number
          example: 2017020851
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GameContent'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Games
  /game/{id}/feed/live:
    get:
      tags:
      - games
      summary: Get all available data for an NHL game.
      description: "This contains all data related to a game, from the boxscore, to\
        \ play data and even on-ice coordinates. Be forewarned that, depending on\
        \ the game, this endpoint can return a **lot** of data."
      operationId: getGame
      parameters:
      - name: id
        in: path
        description: "The ID of the game. The first 4 digits identify the season of\
          \ the game (ie. 2017 for the 2017-2018 season). The next 2 digits give the\
          \ type of game, where 01 = preseason, 02 = regular season, 03 = playoffs,\
          \ 04 = all-star. The final 4 digits identify the specific game number. For\
          \ regular season and preseason games, this ranges from 0001 to the number\
          \ of games played. (1271 for seasons with 31 teams (2017 and onwards) and\
          \ 1230 for seasons with 30 teams). For playoff games, the 2nd digit of the\
          \ specific number gives the round of the playoffs, the 3rd digit specifies\
          \ the matchup, and the 4th digit specifies the game (out of 7)."
        required: true
        style: simple
        explode: false
        schema:
          type: number
          example: 2017020851
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Games
  /game/{id}/feed/live/diffPatch:
    get:
      tags:
      - games
      summary: Get all available data for an NHL game after a specific time.
      description: You can use this to return a small subset of data relating to game.
      operationId: getGameDiff
      parameters:
      - name: id
        in: path
        description: "The ID of the game. The first 4 digits identify the season of\
          \ the game (ie. 2017 for the 2017-2018 season). The next 2 digits give the\
          \ type of game, where 01 = preseason, 02 = regular season, 03 = playoffs,\
          \ 04 = all-star. The final 4 digits identify the specific game number. For\
          \ regular season and preseason games, this ranges from 0001 to the number\
          \ of games played. (1271 for seasons with 31 teams (2017 and onwards) and\
          \ 1230 for seasons with 30 teams). For playoff games, the 2nd digit of the\
          \ specific number gives the round of the playoffs, the 3rd digit specifies\
          \ the matchup, and the 4th digit specifies the game (out of 7)."
        required: true
        style: simple
        explode: false
        schema:
          type: number
          example: 2017020851
      - name: startTimeCode
        in: query
        description: The prospect ID.
        required: true
        style: form
        explode: true
        schema:
          pattern: "^(\\d{8})_(\\d{4})$"
          type: string
          example: 20180210_0900
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Games
  /people/{id}:
    get:
      tags:
      - players
      summary: Get an NHL player.
      operationId: getPlayer
      parameters:
      - name: id
        in: path
        description: The ID of the player.
        required: true
        style: simple
        explode: false
        schema:
          type: number
          example: 8466138
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Players'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Players
  /people/{id}/stats:
    get:
      tags:
      - players
      summary: Get specific statistics for an NHL player.
      operationId: getPlayerStats
      parameters:
      - name: id
        in: path
        description: The ID of the player.
        required: true
        style: simple
        explode: false
        schema:
          type: number
          example: 8466138
      - name: stats
        in: query
        description: "Stats explanations:\n  * `homeAndAway` - Provides a split between\
          \ home and away games.\n  * `byMonth` - Monthly split of stats.\n  * `byDayOfWeek`\
          \ - Split done by day of the week.\n  * `goalsByGameSituation` - Shows number\
          \ on when goals for a player happened like how many in the shootout, how\
          \ many in each period, etc.\n  * `onPaceRegularSeason` - This only works\
          \ with the current in-progress season and shows projected totals based on\
          \ current onPaceRegularSeason.\n  * `regularSeasonStatRankings` - Returns\
          \ where someone stands vs the rest of the league for a specific regularSeasonStatRankings\n\
          \  * `statsSingleSeason` - Obtains single season statistics for a player.\n\
          \  * `vsConference` - Conference stats split.\n  * `vsDivision` - Division\
          \ stats split.\n  * `vsTeam` - Conference stats split.\n  * `winLoss` -\
          \ Very similar to the previous modifier except it provides the W/L/OT split\
          \ instead of Home and Away.\n"
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - homeAndAway
          - byDayOfWeek
          - byMonth
          - goalsByGameSituation
          - onPaceRegularSeason
          - regularSeasonStatRankings
          - statsSingleSeason
          - vsConference
          - vsDivision
          - vsTeam
          - winLoss
      - name: season
        in: query
        description: Return a team's specific season.
        required: false
        style: form
        explode: true
        schema:
          pattern: "^\\d{8}$"
          type: number
          example: 20172018
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerStats'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Players
  /schedule:
    get:
      tags:
      - schedule
      summary: Get the NHL game schedule.
      operationId: getSchedule
      parameters:
      - name: expand
        in: query
        description: |
          Expand explanations:
            * `schedule.brodcasts` - Shows the broadcasts of the game.
            * `schedule.linescore` - Linescore for completed games.
            * `schedule.ticket` - Provides the different places to buy tickets for the upcoming games.
            * `team.schedule.previous` - Same as above but for the last game played.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - schedule.brodcasts
          - schedule.linescore
          - schedule.ticket
          - team.schedule.previous
      - name: teamId
        in: query
        description: Limit results to a specific team. Team ids can be found through
          the teams endpoint
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: "28"
      - name: startDate
        in: query
        description: Start date for the search.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2018-02-11
      - name: endDate
        in: query
        description: End date for the search.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2018-02-18
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Schedule
  /standings:
    get:
      tags:
      - standings
      summary: Get NHL division standings.
      operationId: getStandings
      parameters:
      - name: season
        in: query
        description: Standings for a specified season.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: date
        in: query
        description: Standings on a specified date.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2018-01-09
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Standings'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Standings
  /standings/{type}:
    get:
      tags:
      - standings
      summary: Get NHL standings for a specific standing type.
      operationId: getStandingsByType
      parameters:
      - name: type
        in: path
        description: |
          Standing types:
            * `byConference` - Standings by Conference
            * `byDivision` - Standings by Division
            * `byLeague` - Standings by League
            * `divisionLeaders` - Division Leader standings
            * `postseason` - Postseason Standings
            * `preseason` - Preseason Standings
            * `regularSeason` - Regular Season Standings
            * `wildCard` - Wild card standings
            * `wildCardWithLeaders` - Wild card standings with Division Leaders
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - byConference
          - byDivision
          - byLeague
          - divisionLeaders
          - postseason
          - preseason
          - regularSeason
          - wildCard
          - wildCardWithLeaders
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Standings'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Standings
  /standingsTypes:
    get:
      tags:
      - standings
      summary: Get all available NHL standing types.
      operationId: getStandingTypes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandingTypes'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Standings
  /statTypes:
    get:
      tags:
      - stats
      summary: Get all available NHL statistic types.
      operationId: getStatTypes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatTypes'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Stats
  /teams:
    get:
      tags:
      - teams
      summary: Get all NHL teams.
      operationId: getTeams
      parameters:
      - name: expand
        in: query
        description: Expand your response for some additional data.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - team.roster
          - team.schedule.next
          - team.schedule.previous
      - name: season
        in: query
        description: Return a team's specific season.
        required: false
        style: form
        explode: true
        schema:
          pattern: "^\\d{8}$"
          type: number
          example: 20172018
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Teams'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Teams
  /teams/{id}:
    get:
      tags:
      - teams
      summary: Get an NHL team.
      operationId: getTeam
      parameters:
      - name: id
        in: path
        description: The ID of the team.
        required: true
        style: simple
        explode: false
        schema:
          type: number
          example: 28
      - name: expand
        in: query
        description: Expand your response for some additional data.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - team.roster
          - team.schedule.next
          - team.schedule.previous
      - name: season
        in: query
        description: Return a team's specific season.
        required: false
        style: form
        explode: true
        schema:
          pattern: "^\\d{8}$"
          type: number
          example: 20172018
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Teams
  /teams/{id}/roster:
    get:
      tags:
      - teams
      summary: Get an NHL team's roster.
      operationId: getTeamRoster
      parameters:
      - name: id
        in: path
        description: The ID of the team.
        required: true
        style: simple
        explode: false
        schema:
          type: number
          example: 28
      - name: season
        in: query
        description: Return a team's specific season.
        required: false
        style: form
        explode: true
        schema:
          pattern: "^\\d{8}$"
          type: number
          example: 20172018
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rosters'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Teams
  /teams/{id}/stats:
    get:
      tags:
      - teams
      summary: Get all statistics for an NHL team.
      operationId: getTeamStats
      parameters:
      - name: id
        in: path
        description: The ID of the team.
        required: true
        style: simple
        explode: false
        schema:
          type: number
          example: 28
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamStats'
        "404":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Teams
components:
  schemas:
    Conference:
      properties:
        id:
          type: number
          example: 5
        name:
          type: string
          enum:
          - Eastern
          - Western
          - World Cup of Hockey
        link:
          type: string
          format: uri
          example: /api/v1/conferences/5
        abbreviation:
          type: string
          enum:
          - E
          - W
          - WCH
        shortName:
          type: string
          enum:
          - East
          - West
          - WCup
        active:
          type: boolean
      example:
        name: Eastern
        link: /api/v1/conferences/5
        active: true
        id: 5
        abbreviation: E
        shortName: East
    Conferences:
      properties:
        copyright:
          type: string
        teams:
          type: array
          items:
            $ref: '#/components/schemas/Conference'
      example:
        copyright: copyright
        teams:
        - name: Eastern
          link: /api/v1/conferences/5
          active: true
          id: 5
          abbreviation: E
          shortName: East
        - name: Eastern
          link: /api/v1/conferences/5
          active: true
          id: 5
          abbreviation: E
          shortName: East
    Division:
      properties:
        id:
          type: number
          example: 15
        name:
          type: string
          example: Pacific
        link:
          type: string
          format: uri
          example: /api/v1/divisions/15
        abbreviation:
          type: string
          example: P
        conference:
          $ref: '#/components/schemas/Division_conference'
        active:
          type: boolean
      example:
        conference:
          name: Western
          link: /api/v1/conferences/5
          id: 5
        name: Pacific
        link: /api/v1/divisions/15
        active: true
        id: 15
        abbreviation: P
    Divisions:
      properties:
        copyright:
          type: string
        teams:
          type: array
          items:
            $ref: '#/components/schemas/Division'
      example:
        copyright: copyright
        teams:
        - conference:
            name: Western
            link: /api/v1/conferences/5
            id: 5
          name: Pacific
          link: /api/v1/divisions/15
          active: true
          id: 15
          abbreviation: P
        - conference:
            name: Western
            link: /api/v1/conferences/5
            id: 5
          name: Pacific
          link: /api/v1/divisions/15
          active: true
          id: 15
          abbreviation: P
    Draft:
      properties:
        copyright:
          type: string
        drafts:
          type: array
          items:
            $ref: '#/components/schemas/Draft_drafts'
      example:
        copyright: copyright
        drafts:
        - draftYear: 2017
          rounds:
          - roundNumber: 1
            round: 1
            picks:
            - prospect:
                link: /api/v1/draft/prospects/65242
                fullName: Nico Hischier
                id: 65242
              pickOverall: 1
              round: "1"
              year: 2017
              team:
                name: New Jersey Devils
                link: /api/v1/teams/1
                id: 1
              pickInRound: 1
            - prospect:
                link: /api/v1/draft/prospects/65242
                fullName: Nico Hischier
                id: 65242
              pickOverall: 1
              round: "1"
              year: 2017
              team:
                name: New Jersey Devils
                link: /api/v1/teams/1
                id: 1
              pickInRound: 1
          - roundNumber: 1
            round: 1
            picks:
            - prospect:
                link: /api/v1/draft/prospects/65242
                fullName: Nico Hischier
                id: 65242
              pickOverall: 1
              round: "1"
              year: 2017
              team:
                name: New Jersey Devils
                link: /api/v1/teams/1
                id: 1
              pickInRound: 1
            - prospect:
                link: /api/v1/draft/prospects/65242
                fullName: Nico Hischier
                id: 65242
              pickOverall: 1
              round: "1"
              year: 2017
              team:
                name: New Jersey Devils
                link: /api/v1/teams/1
                id: 1
              pickInRound: 1
        - draftYear: 2017
          rounds:
          - roundNumber: 1
            round: 1
            picks:
            - prospect:
                link: /api/v1/draft/prospects/65242
                fullName: Nico Hischier
                id: 65242
              pickOverall: 1
              round: "1"
              year: 2017
              team:
                name: New Jersey Devils
                link: /api/v1/teams/1
                id: 1
              pickInRound: 1
            - prospect:
                link: /api/v1/draft/prospects/65242
                fullName: Nico Hischier
                id: 65242
              pickOverall: 1
              round: "1"
              year: 2017
              team:
                name: New Jersey Devils
                link: /api/v1/teams/1
                id: 1
              pickInRound: 1
          - roundNumber: 1
            round: 1
            picks:
            - prospect:
                link: /api/v1/draft/prospects/65242
                fullName: Nico Hischier
                id: 65242
              pickOverall: 1
              round: "1"
              year: 2017
              team:
                name: New Jersey Devils
                link: /api/v1/teams/1
                id: 1
              pickInRound: 1
            - prospect:
                link: /api/v1/draft/prospects/65242
                fullName: Nico Hischier
                id: 65242
              pickOverall: 1
              round: "1"
              year: 2017
              team:
                name: New Jersey Devils
                link: /api/v1/teams/1
                id: 1
              pickInRound: 1
    DraftProspect:
      properties:
        id:
          type: number
          example: 65242
        fullName:
          type: string
          example: Nico Hischier
        link:
          type: string
          format: uri
          example: /api/v1/draft/prospects/65242
        firstName:
          type: string
          example: Nico
        lastName:
          type: string
          example: Hischier
        birthDate:
          type: string
          format: date
          example: 1999-01-04
        birthCity:
          type: string
          example: Naters
        birthCountry:
          type: string
          example: CHE
        nationality:
          type: string
          example: CHE
        height:
          type: string
          example: 6' 2"
        weight:
          type: number
          example: 179
        shootsCatches:
          type: string
          example: L
        primaryPosition:
          $ref: '#/components/schemas/DraftProspect_primaryPosition'
        prospectCategory:
          $ref: '#/components/schemas/DraftProspect_prospectCategory'
        amateurTeam:
          $ref: '#/components/schemas/DraftProspect_amateurTeam'
        amateurLeague:
          $ref: '#/components/schemas/DraftProspect_amateurLeague'
        ranks:
          type: object
      example:
        lastName: Hischier
        amateurLeague:
          link: /api/v1/league/null
        link: /api/v1/draft/prospects/65242
        fullName: Nico Hischier
        weight: 179
        birthCity: Naters
        birthDate: 1999-01-04T00:00:00.000+00:00
        amateurTeam:
          link: /api/v1/teams/null
        primaryPosition:
          code: C
          name: Center
          type: Forward
          abbreviation: C
        prospectCategory:
          name: North American Skater
          id: 1
          shortName: NA Skater
        firstName: Nico
        ranks: {}
        nationality: CHE
        birthCountry: CHE
        id: 65242
        height: 6' 2"
        shootsCatches: L
    DraftProspects:
      properties:
        copyright:
          type: string
        prospects:
          type: array
          items:
            $ref: '#/components/schemas/DraftProspect'
      example:
        copyright: copyright
        prospects:
        - lastName: Hischier
          amateurLeague:
            link: /api/v1/league/null
          link: /api/v1/draft/prospects/65242
          fullName: Nico Hischier
          weight: 179
          birthCity: Naters
          birthDate: 1999-01-04T00:00:00.000+00:00
          amateurTeam:
            link: /api/v1/teams/null
          primaryPosition:
            code: C
            name: Center
            type: Forward
            abbreviation: C
          prospectCategory:
            name: North American Skater
            id: 1
            shortName: NA Skater
          firstName: Nico
          ranks: {}
          nationality: CHE
          birthCountry: CHE
          id: 65242
          height: 6' 2"
          shootsCatches: L
        - lastName: Hischier
          amateurLeague:
            link: /api/v1/league/null
          link: /api/v1/draft/prospects/65242
          fullName: Nico Hischier
          weight: 179
          birthCity: Naters
          birthDate: 1999-01-04T00:00:00.000+00:00
          amateurTeam:
            link: /api/v1/teams/null
          primaryPosition:
            code: C
            name: Center
            type: Forward
            abbreviation: C
          prospectCategory:
            name: North American Skater
            id: 1
            shortName: NA Skater
          firstName: Nico
          ranks: {}
          nationality: CHE
          birthCountry: CHE
          id: 65242
          height: 6' 2"
          shootsCatches: L
    Error:
      properties:
        messageNumber:
          type: number
          example: 10
        message:
          type: string
          example: Object not found
    Franchise:
      properties:
        id:
          type: number
          example: 29
        name:
          type: string
          example: Sharks
        link:
          type: string
          format: uri
          example: /api/v1/franchises/29
      example:
        name: Sharks
        link: /api/v1/franchises/29
        id: 29
    Game:
      properties:
        copyright:
          type: string
        gamePk:
          type: number
          example: 2017020851
        link:
          type: string
          format: uri
          example: /api/v1/game/2017020851/feed/live
        metaData:
          $ref: '#/components/schemas/Game_metaData'
        gameData:
          $ref: '#/components/schemas/Game_gameData'
        liveData:
          $ref: '#/components/schemas/Game_liveData'
      example:
        gamePk: 2017020851
        metaData:
          timeStamp: 20180211_054345
          wait: 10
        copyright: copyright
        link: /api/v1/game/2017020851/feed/live
        gameData:
          venue: null
          game:
            season: "20172018"
            pk: 2017020851
            type: R
          datetime:
            dateTime: 2018-02-11T03:00:00Z
            endDateTime: 2018-02-11T05:30:42Z
          teams:
            away:
              teamName: Sharks
              venue:
                city: San Jose
                name: SAP Center at San Jose
                link: /api/v1/venues/null
                timeZone:
                  offset: -8
                  tz: PST
                  id: America/Los_Angeles
              franchise:
                name: Sharks
                link: /api/v1/franchises/29
                id: 29
              locationName: San Jose
              conference:
                name: Western
                link: /api/v1/conferences/5
                id: 5
              firstYearOfPlay: 1990
              link: /api/v1/teams/28
              officialSiteUrl: http://www.sjsharks.com
              active: true
              abbreviation: SJS
              division:
                name: Pacific
                link: /api/v1/divisions/15
                id: 15
              roster:
                roster:
                - person:
                    link: /api/v1/people/8466138
                    fullName: Joe Thornton
                    id: 8466138
                  jerseyNumber: 19
                  position:
                    code: C
                    name: Center
                    type: Forward
                    abbreviation: C
                - person:
                    link: /api/v1/people/8466138
                    fullName: Joe Thornton
                    id: 8466138
                  jerseyNumber: 19
                  position:
                    code: C
                    name: Center
                    type: Forward
                    abbreviation: C
              name: San Jose Sharks
              franchiseId: 29
              nextGameSchedule:
                totalItems: 1
                totalGames: 1
                totalEvents: 0
                dates:
                - date: 2018-02-10T00:00:00.000+00:00
                  totalItems: 1
                  totalGames: 1
                  totalEvents: 0
                  games:
                  - gamePk: 2017020851
                    gameType: R
                    venue:
                      name: SAP Center at San Jose
                      link: /api/v1/venues/null
                    teams:
                      away:
                        score: 0
                        leagueRecord:
                          wins: 23
                          ot: 4
                          losses: 26
                          type: league
                        team:
                          name: Edmonton Oilers
                          link: /api/v1/teams/22
                          id: 22
                      home:
                        score: 2
                        leagueRecord:
                          wins: 28
                          ot: 8
                          losses: 18
                          type: league
                        team:
                          name: San Jose Sharks
                          link: /api/v1/teams/28
                          id: 28
                    gameDate: 2018-02-11T03:00:00Z
                    link: /api/v1/game/2017020851/feed/live
                    season: "20172018"
                    content:
                      link: /api/v1/game/2017020851/content
                    status:
                      codedGameState: "3"
                      abstractGameState: Live
                      detailedState: In Progress
                      startTimeTBD: true
                      statusCode: "2"
                  - gamePk: 2017020851
                    gameType: R
                    venue:
                      name: SAP Center at San Jose
                      link: /api/v1/venues/null
                    teams:
                      away:
                        score: 0
                        leagueRecord:
                          wins: 23
                          ot: 4
                          losses: 26
                          type: league
                        team:
                          name: Edmonton Oilers
                          link: /api/v1/teams/22
                          id: 22
                      home:
                        score: 2
                        leagueRecord:
                          wins: 28
                          ot: 8
                          losses: 18
                          type: league
                        team:
                          name: San Jose Sharks
                          link: /api/v1/teams/28
                          id: 28
                    gameDate: 2018-02-11T03:00:00Z
                    link: /api/v1/game/2017020851/feed/live
                    season: "20172018"
                    content:
                      link: /api/v1/game/2017020851/content
                    status:
                      codedGameState: "3"
                      abstractGameState: Live
                      detailedState: In Progress
                      startTimeTBD: true
                      statusCode: "2"
                  totalMatches: 0
                  matches:
                  - {}
                  - {}
                  events:
                  - {}
                  - {}
                - date: 2018-02-10T00:00:00.000+00:00
                  totalItems: 1
                  totalGames: 1
                  totalEvents: 0
                  games:
                  - gamePk: 2017020851
                    gameType: R
                    venue:
                      name: SAP Center at San Jose
                      link: /api/v1/venues/null
                    teams:
                      away:
                        score: 0
                        leagueRecord:
                          wins: 23
                          ot: 4
                          losses: 26
                          type: league
                        team:
                          name: Edmonton Oilers
                          link: /api/v1/teams/22
                          id: 22
                      home:
                        score: 2
                        leagueRecord:
                          wins: 28
                          ot: 8
                          losses: 18
                          type: league
                        team:
                          name: San Jose Sharks
                          link: /api/v1/teams/28
                          id: 28
                    gameDate: 2018-02-11T03:00:00Z
                    link: /api/v1/game/2017020851/feed/live
                    season: "20172018"
                    content:
                      link: /api/v1/game/2017020851/content
                    status:
                      codedGameState: "3"
                      abstractGameState: Live
                      detailedState: In Progress
                      startTimeTBD: true
                      statusCode: "2"
                  - gamePk: 2017020851
                    gameType: R
                    venue:
                      name: SAP Center at San Jose
                      link: /api/v1/venues/null
                    teams:
                      away:
                        score: 0
                        leagueRecord:
                          wins: 23
                          ot: 4
                          losses: 26
                          type: league
                        team:
                          name: Edmonton Oilers
                          link: /api/v1/teams/22
                          id: 22
                      home:
                        score: 2
                        leagueRecord:
                          wins: 28
                          ot: 8
                          losses: 18
                          type: league
                        team:
                          name: San Jose Sharks
                          link: /api/v1/teams/28
                          id: 28
                    gameDate: 2018-02-11T03:00:00Z
                    link: /api/v1/game/2017020851/feed/live
                    season: "20172018"
                    content:
                      link: /api/v1/game/2017020851/content
                    status:
                      codedGameState: "3"
                      abstractGameState: Live
                      detailedState: In Progress
                      startTimeTBD: true
                      statusCode: "2"
                  totalMatches: 0
                  matches:
                  - {}
                  - {}
                  events:
                  - {}
                  - {}
                totalMatches: 0
              id: 28
              triCode: SJS
              shortName: San Jose
            home: null
          players:
            currentTeam: null
            lastName: Thornton
            birthStateProvince: "ON"
            link: /api/v1/people/8466138
            rosterStatus: I
            fullName: Joe Thornton
            weight: 220
            active: true
            birthCity: London
            captain: true
            birthDate: 1979-07-02T00:00:00.000+00:00
            rookie: true
            primaryNumber: "19"
            primaryPosition: null
            firstName: Joe
            currentAge: 38
            nationality: CAN
            alternateCaptain: true
            birthCountry: CAN
            id: 8466138
            height: 6' 4"
            shootsCatches: L
          status:
            codedGameState: "7"
            abstractGameState: Final
            detailedState: Final
            startTimeTBD: true
            statusCode: "7"
        liveData:
          plays:
            penaltyPlays:
            - 6.02745618307040320615897144307382404804229736328125
            - 6.02745618307040320615897144307382404804229736328125
            scoringPlays:
            - 0.80082819046101150206595775671303272247314453125
            - 0.80082819046101150206595775671303272247314453125
            allPlays:
            - result:
                eventCode: SJS505
                eventTypeId: GAME_END
                description: Game End
                event: Game End
              players:
              - playerType: Winner
                player:
                  link: /api/v1/people/8476881
                  fullName: Tomas Hertl
                  id: 8476881
              - playerType: Winner
                player:
                  link: /api/v1/people/8476881
                  fullName: Tomas Hertl
                  id: 8476881
              about:
                eventIdx: 315
                dateTime: 2018-02-11T05:30:42Z
                eventId: 505
                period: 3
                periodType: REGULAR
                ordinalNum: 3rd
                periodTime: 20:00
                periodTimeRemaining: 00:00
                goals:
                  away: 4
                  home: 6
              coordinates:
                x: 0
                "y": 0
              team:
                name: San Jose Sharks
                link: /api/v1/teams/28
                id: 28
                triCode: SJS
            - result:
                eventCode: SJS505
                eventTypeId: GAME_END
                description: Game End
                event: Game End
              players:
              - playerType: Winner
                player:
                  link: /api/v1/people/8476881
                  fullName: Tomas Hertl
                  id: 8476881
              - playerType: Winner
                player:
                  link: /api/v1/people/8476881
                  fullName: Tomas Hertl
                  id: 8476881
              about:
                eventIdx: 315
                dateTime: 2018-02-11T05:30:42Z
                eventId: 505
                period: 3
                periodType: REGULAR
                ordinalNum: 3rd
                periodTime: 20:00
                periodTimeRemaining: 00:00
                goals:
                  away: 4
                  home: 6
              coordinates:
                x: 0
                "y": 0
              team:
                name: San Jose Sharks
                link: /api/v1/teams/28
                id: 28
                triCode: SJS
            currentPlay: null
            playsByPeriod:
            - startIndex: 0
              plays:
              - 1.46581298050294517310021547018550336360931396484375
              - 1.46581298050294517310021547018550336360931396484375
              endIndex: 114
            - startIndex: 0
              plays:
              - 1.46581298050294517310021547018550336360931396484375
              - 1.46581298050294517310021547018550336360931396484375
              endIndex: 114
          boxscore:
            teams:
              away:
                coaches:
                - person:
                    link: /api/v1/people/null
                    fullName: Peter DeBoer
                  position:
                    code: HC
                    name: Head Coach
                    type: Head Coach
                    abbreviation: Head Coach
                - person:
                    link: /api/v1/people/null
                    fullName: Peter DeBoer
                  position:
                    code: HC
                    name: Head Coach
                    type: Head Coach
                    abbreviation: Head Coach
                goalies:
                - 5.962133916683182377482808078639209270477294921875
                - 5.962133916683182377482808078639209270477294921875
                onIce:
                - 2.3021358869347654518833223846741020679473876953125
                - 2.3021358869347654518833223846741020679473876953125
                players:
                  stats:
                    skaterStats:
                      penaltyMinutes: 0
                      plusMinus: 1
                      powerPlayGoals: 0
                      faceOffWins: 0
                      takeaways: 0
                      shortHandedAssists: 0
                      hits: 0
                      powerPlayAssists: 0
                      shortHandedGoals: 0
                      blocked: 0
                      shortHandedTimeOnIce: 3:45
                      timeOnIce: 23:04
                      assists: 0
                      faceoffTaken: 0
                      shots: 2
                      evenTimeOnIce: 18:12
                      powerPlayTimeOnIce: 1:07
                      goals: 0
                      giveaways: 1
                  person:
                    link: /api/v1/people/8471709
                    rosterStatus: "Y"
                    fullName: Marc-Edouard Vlasic
                    id: 8471709
                    shootsCatches: L
                  jerseyNumber: "44"
                  position:
                    code: D
                    name: Defenseman
                    type: Defenseman
                    abbreviation: D
                scratches:
                - 7.061401241503109105224211816675961017608642578125
                - 7.061401241503109105224211816675961017608642578125
                penaltyBox:
                - 9.301444243932575517419536481611430644989013671875
                - 9.301444243932575517419536481611430644989013671875
                team: null
                skaters:
                - 5.63737665663332876420099637471139430999755859375
                - 5.63737665663332876420099637471139430999755859375
                teamStats:
                  teamSkaterStats:
                    hits: 15
                    powerPlayPercentage: "0.0"
                    faceOffWinPercentage: "59.3"
                    blocked: 21
                    pim: 6
                    powerPlayGoals: 0
                    powerPlayOpportunities: 1
                    takeaways: 9
                    shots: 30
                    goals: 6
                    giveaways: 6
                onIcePlus:
                - stamina: 33
                  shiftDuration: 458
                  playerId: 8477180
                - stamina: 33
                  shiftDuration: 458
                  playerId: 8477180
              home: null
            officials:
            - officialType: Linesman
              official:
                link: /api/v1/people/2071
                fullName: Tim Peel
                id: 2071
            - officialType: Linesman
              official:
                link: /api/v1/people/2071
                fullName: Tim Peel
                id: 2071
          linescore:
            teams:
              away: null
              home:
                powerPlay: true
                shotsOnGoal: 30
                team:
                  name: San Jose Sharks
                  link: /api/v1/teams/28
                  id: 28
                  triCode: SJS
                  abbreviation: SJS
                numSkaters: 5
                goaliePulled: true
                goals: 6
            periods:
            - periodType: REGULAR
              away:
                shotsOnGoal: 9
                goals: 0
                rinkSide: right
              ordinalNum: 1st
              num: 1
              startTime: 2018-02-11T03:09:50Z
              endTime: 2018-02-11T03:44:47Z
              home:
                shotsOnGoal: 14
                goals: 2
                rinkSide: left
            - periodType: REGULAR
              away:
                shotsOnGoal: 9
                goals: 0
                rinkSide: right
              ordinalNum: 1st
              num: 1
              startTime: 2018-02-11T03:09:50Z
              endTime: 2018-02-11T03:44:47Z
              home:
                shotsOnGoal: 14
                goals: 2
                rinkSide: left
            powerPlayStrength: Even
            hasShootout: true
            intermissionInfo:
              intermissionTimeRemaining: 0
              intermissionTimeElapsed: 0
              inIntermission: true
            powerPlayInfo:
              inSituation: true
              situationTimeElapsed: 72
              situationTimeRemaining: 0
            currentPeriodOrdinal: 3rd
            currentPeriodTimeRemaining: Final
            currentPeriod: 3
            shootoutInfo:
              away:
                scores: 0
                attempts: 0
              home: null
          decisions:
            thirdStar: null
            winner:
              link: /api/v1/people/8477180
              fullName: Aaron Dell
              id: 8477180
            secondStar: null
            loser: null
            firstStar: null
    GameBoxscore:
      properties:
        teams:
          $ref: '#/components/schemas/GameBoxscore_teams'
        officials:
          type: array
          items:
            $ref: '#/components/schemas/GameOfficial'
      example:
        teams:
          away:
            coaches:
            - person:
                link: /api/v1/people/null
                fullName: Peter DeBoer
              position:
                code: HC
                name: Head Coach
                type: Head Coach
                abbreviation: Head Coach
            - person:
                link: /api/v1/people/null
                fullName: Peter DeBoer
              position:
                code: HC
                name: Head Coach
                type: Head Coach
                abbreviation: Head Coach
            goalies:
            - 5.962133916683182377482808078639209270477294921875
            - 5.962133916683182377482808078639209270477294921875
            onIce:
            - 2.3021358869347654518833223846741020679473876953125
            - 2.3021358869347654518833223846741020679473876953125
            players:
              stats:
                skaterStats:
                  penaltyMinutes: 0
                  plusMinus: 1
                  powerPlayGoals: 0
                  faceOffWins: 0
                  takeaways: 0
                  shortHandedAssists: 0
                  hits: 0
                  powerPlayAssists: 0
                  shortHandedGoals: 0
                  blocked: 0
                  shortHandedTimeOnIce: 3:45
                  timeOnIce: 23:04
                  assists: 0
                  faceoffTaken: 0
                  shots: 2
                  evenTimeOnIce: 18:12
                  powerPlayTimeOnIce: 1:07
                  goals: 0
                  giveaways: 1
              person:
                link: /api/v1/people/8471709
                rosterStatus: "Y"
                fullName: Marc-Edouard Vlasic
                id: 8471709
                shootsCatches: L
              jerseyNumber: "44"
              position:
                code: D
                name: Defenseman
                type: Defenseman
                abbreviation: D
            scratches:
            - 7.061401241503109105224211816675961017608642578125
            - 7.061401241503109105224211816675961017608642578125
            penaltyBox:
            - 9.301444243932575517419536481611430644989013671875
            - 9.301444243932575517419536481611430644989013671875
            team: null
            skaters:
            - 5.63737665663332876420099637471139430999755859375
            - 5.63737665663332876420099637471139430999755859375
            teamStats:
              teamSkaterStats:
                hits: 15
                powerPlayPercentage: "0.0"
                faceOffWinPercentage: "59.3"
                blocked: 21
                pim: 6
                powerPlayGoals: 0
                powerPlayOpportunities: 1
                takeaways: 9
                shots: 30
                goals: 6
                giveaways: 6
            onIcePlus:
            - stamina: 33
              shiftDuration: 458
              playerId: 8477180
            - stamina: 33
              shiftDuration: 458
              playerId: 8477180
          home: null
        officials:
        - officialType: Linesman
          official:
            link: /api/v1/people/2071
            fullName: Tim Peel
            id: 2071
        - officialType: Linesman
          official:
            link: /api/v1/people/2071
            fullName: Tim Peel
            id: 2071
    GameBoxscores:
      allOf:
      - type: object
        properties:
          copyright:
            type: string
      - $ref: '#/components/schemas/GameBoxscore'
    GameBoxscoreTeam:
      properties:
        team:
          $ref: '#/components/schemas/GameBoxscoreTeam_team'
        teamStats:
          $ref: '#/components/schemas/GameBoxscoreTeam_teamStats'
        players:
          $ref: '#/components/schemas/GameBoxscoreTeam_players'
        goalies:
          type: array
          items:
            type: number
        skaters:
          type: array
          items:
            type: number
        onIce:
          type: array
          items:
            type: number
        onIcePlus:
          type: array
          items:
            $ref: '#/components/schemas/GameBoxscoreTeam_onIcePlus'
        scratches:
          type: array
          items:
            type: number
        penaltyBox:
          type: array
          items:
            type: number
        coaches:
          type: array
          items:
            $ref: '#/components/schemas/GameBoxscoreTeam_coaches'
      example:
        coaches:
        - person:
            link: /api/v1/people/null
            fullName: Peter DeBoer
          position:
            code: HC
            name: Head Coach
            type: Head Coach
            abbreviation: Head Coach
        - person:
            link: /api/v1/people/null
            fullName: Peter DeBoer
          position:
            code: HC
            name: Head Coach
            type: Head Coach
            abbreviation: Head Coach
        goalies:
        - 5.962133916683182377482808078639209270477294921875
        - 5.962133916683182377482808078639209270477294921875
        onIce:
        - 2.3021358869347654518833223846741020679473876953125
        - 2.3021358869347654518833223846741020679473876953125
        players:
          stats:
            skaterStats:
              penaltyMinutes: 0
              plusMinus: 1
              powerPlayGoals: 0
              faceOffWins: 0
              takeaways: 0
              shortHandedAssists: 0
              hits: 0
              powerPlayAssists: 0
              shortHandedGoals: 0
              blocked: 0
              shortHandedTimeOnIce: 3:45
              timeOnIce: 23:04
              assists: 0
              faceoffTaken: 0
              shots: 2
              evenTimeOnIce: 18:12
              powerPlayTimeOnIce: 1:07
              goals: 0
              giveaways: 1
          person:
            link: /api/v1/people/8471709
            rosterStatus: "Y"
            fullName: Marc-Edouard Vlasic
            id: 8471709
            shootsCatches: L
          jerseyNumber: "44"
          position:
            code: D
            name: Defenseman
            type: Defenseman
            abbreviation: D
        scratches:
        - 7.061401241503109105224211816675961017608642578125
        - 7.061401241503109105224211816675961017608642578125
        penaltyBox:
        - 9.301444243932575517419536481611430644989013671875
        - 9.301444243932575517419536481611430644989013671875
        team: null
        skaters:
        - 5.63737665663332876420099637471139430999755859375
        - 5.63737665663332876420099637471139430999755859375
        teamStats:
          teamSkaterStats:
            hits: 15
            powerPlayPercentage: "0.0"
            faceOffWinPercentage: "59.3"
            blocked: 21
            pim: 6
            powerPlayGoals: 0
            powerPlayOpportunities: 1
            takeaways: 9
            shots: 30
            goals: 6
            giveaways: 6
        onIcePlus:
        - stamina: 33
          shiftDuration: 458
          playerId: 8477180
        - stamina: 33
          shiftDuration: 458
          playerId: 8477180
    GameContent:
      properties:
        copyright:
          type: string
        link:
          type: string
          format: uri
          example: /api/v1/game/2017020851/content
        editorial:
          $ref: '#/components/schemas/GameContent_editorial'
        media:
          $ref: '#/components/schemas/GameContent_media'
        highlights:
          $ref: '#/components/schemas/GameContent_highlights'
      example:
        editorial:
          preview:
            title: Preview
            items:
            - date: 2000-01-23T04:56:07.000+00:00
              primaryKeyword: null
              preview: "<p><b>OILERS (23-26-4) at SHARKS (28-18-8)</b></p><p><b>10\
                \ p.m. ET; NBCSCA, CITY, SN360, SN, NHL.TV</b></p><p>&nbsp;</p><h5><b>The\
                \ Game</b></h5><p>Backup goaltender <span class=\"token token-playerCard\"\
                \ id=\"token-B36CCB71E81996298E792\">Aaron Dell</span> will make his\
                \ 19th start of the season when the San Jose Sharks play the Edmonton\
                \ Oilers at SAP Center on Saturday in the first of back-to-back games.</p>"
              tokenData:
                teamId: "28"
                name: Marc-Edouard Vlasic
                tokenGUID: token-EBDA2F0039BF4445D2C91
                id: "8471709"
                href: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
                type: hyperLink
                hrefMobile: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
                seoName: marc-edouard-vlasic
              seoDescription: Backup goaltender Aaron Dell will make his 19th start
                of the season when the San Jose Sharks play the Edmonton Oilers at
                SAP Center on Saturday in the first of back-to-back games.
              approval: approval
              dataURI: /nhl/id/v1/295823824/details/web-v1.json
              subhead: "Backups Montoya, Dell to start for Edmonton, San Jose"
              media:
                image:
                  altText: altText
                  title: title
                  cuts:
                    at2x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    src: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    at3x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    width: 2568
                    aspectRatio: 16:9
                    height: 1444
                type: photo
              type: article
              seoTitle: Edmonton Oilers San Jose Sharks game preview
              seoKeywords: "Game preview, Edmonton Oilers, San Jose Sharks, Aaron\
                \ Dell, Al Montoya, Feb 10"
              keywordsDisplay:
              - displayName: English
                type: bodyParagraphCount
                value: en
              - displayName: English
                type: bodyParagraphCount
                value: en
              url: /news/edmonton-oilers-san-jose-sharks-game-preview/c-295823824?game_pk=2017020851
              keywordsAll:
              - null
              - null
              contributor:
                contributors:
                - twitter: twitter
                  name: Eric Gilmore
                - twitter: twitter
                  name: Eric Gilmore
                source: NHL.com Correspondent
              tagline: tagline
              state: A
              id: "295823824"
              commenting: true
              headline: Oilers at Sharks preview
              slug: edmonton-oilers-san-jose-sharks-game-preview
            - date: 2000-01-23T04:56:07.000+00:00
              primaryKeyword: null
              preview: "<p><b>OILERS (23-26-4) at SHARKS (28-18-8)</b></p><p><b>10\
                \ p.m. ET; NBCSCA, CITY, SN360, SN, NHL.TV</b></p><p>&nbsp;</p><h5><b>The\
                \ Game</b></h5><p>Backup goaltender <span class=\"token token-playerCard\"\
                \ id=\"token-B36CCB71E81996298E792\">Aaron Dell</span> will make his\
                \ 19th start of the season when the San Jose Sharks play the Edmonton\
                \ Oilers at SAP Center on Saturday in the first of back-to-back games.</p>"
              tokenData:
                teamId: "28"
                name: Marc-Edouard Vlasic
                tokenGUID: token-EBDA2F0039BF4445D2C91
                id: "8471709"
                href: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
                type: hyperLink
                hrefMobile: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
                seoName: marc-edouard-vlasic
              seoDescription: Backup goaltender Aaron Dell will make his 19th start
                of the season when the San Jose Sharks play the Edmonton Oilers at
                SAP Center on Saturday in the first of back-to-back games.
              approval: approval
              dataURI: /nhl/id/v1/295823824/details/web-v1.json
              subhead: "Backups Montoya, Dell to start for Edmonton, San Jose"
              media:
                image:
                  altText: altText
                  title: title
                  cuts:
                    at2x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    src: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    at3x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                    width: 2568
                    aspectRatio: 16:9
                    height: 1444
                type: photo
              type: article
              seoTitle: Edmonton Oilers San Jose Sharks game preview
              seoKeywords: "Game preview, Edmonton Oilers, San Jose Sharks, Aaron\
                \ Dell, Al Montoya, Feb 10"
              keywordsDisplay:
              - displayName: English
                type: bodyParagraphCount
                value: en
              - displayName: English
                type: bodyParagraphCount
                value: en
              url: /news/edmonton-oilers-san-jose-sharks-game-preview/c-295823824?game_pk=2017020851
              keywordsAll:
              - null
              - null
              contributor:
                contributors:
                - twitter: twitter
                  name: Eric Gilmore
                - twitter: twitter
                  name: Eric Gilmore
                source: NHL.com Correspondent
              tagline: tagline
              state: A
              id: "295823824"
              commenting: true
              headline: Oilers at Sharks preview
              slug: edmonton-oilers-san-jose-sharks-game-preview
            topicList: topicList
          recap: null
          articles: null
        copyright: copyright
        highlights:
          gameCenter: null
          scoreboard:
            gameCenter: null
            scoreboard:
              title: Highlights
              items:
              - null
              - null
              topicList: "293642378"
        link: /api/v1/game/2017020851/content
        media:
          milestones:
            streamStart: 2000-01-23T04:56:07.000+00:00
            title: Milestones
            items:
            - highlight:
                date: 2000-01-23T04:56:07.000+00:00
                playbacks:
                - name: FLASH_192K_320X180
                  width: "960"
                  url: http://md-akc.med.nhl.com/mp4/nhl/2018/02/11/ddec1fcc-3772-4769-a547-314de76c6c11/1518322152840/asset_1800k.mp4
                  height: "540"
                - name: FLASH_192K_320X180
                  width: "960"
                  url: http://md-akc.med.nhl.com/mp4/nhl/2018/02/11/ddec1fcc-3772-4769-a547-314de76c6c11/1518322152840/asset_1800k.mp4
                  height: "540"
                image: null
                keywords:
                - null
                - null
                description: Barclay Goodrow takes a drop pass from Jannik Hansen
                  and whips a quick wrist shot past Al Montoya to give the Sharks
                  a 3-0 lead in the 2nd
                type: video
                title: Goodrow buries Hansen's pass
                blurb: "EDM@SJS: Goodrow snaps Hansen's pass by Montoya"
                mediaPlaybackId: "57602103"
                authFlow: true
                duration: 00:51
                id: "57602103"
                mediaState: MEDIA_ARCHIVE
              period: "1"
              periodTime: 01:15
              ordinalNum: 1st
              teamId: "28"
              timeAbsolute: 2000-01-23T04:56:07.000+00:00
              description: Broadcast Start
              timeOffset: "4"
              title: Broadcast Start
              type: BROADCAST_START
              statsEventId: "10"
              playerId: "8477046"
            - highlight:
                date: 2000-01-23T04:56:07.000+00:00
                playbacks:
                - name: FLASH_192K_320X180
                  width: "960"
                  url: http://md-akc.med.nhl.com/mp4/nhl/2018/02/11/ddec1fcc-3772-4769-a547-314de76c6c11/1518322152840/asset_1800k.mp4
                  height: "540"
                - name: FLASH_192K_320X180
                  width: "960"
                  url: http://md-akc.med.nhl.com/mp4/nhl/2018/02/11/ddec1fcc-3772-4769-a547-314de76c6c11/1518322152840/asset_1800k.mp4
                  height: "540"
                image: null
                keywords:
                - null
                - null
                description: Barclay Goodrow takes a drop pass from Jannik Hansen
                  and whips a quick wrist shot past Al Montoya to give the Sharks
                  a 3-0 lead in the 2nd
                type: video
                title: Goodrow buries Hansen's pass
                blurb: "EDM@SJS: Goodrow snaps Hansen's pass by Montoya"
                mediaPlaybackId: "57602103"
                authFlow: true
                duration: 00:51
                id: "57602103"
                mediaState: MEDIA_ARCHIVE
              period: "1"
              periodTime: 01:15
              ordinalNum: 1st
              teamId: "28"
              timeAbsolute: 2000-01-23T04:56:07.000+00:00
              description: Broadcast Start
              timeOffset: "4"
              title: Broadcast Start
              type: BROADCAST_START
              statsEventId: "10"
              playerId: "8477046"
          epg:
          - ""
          - ""
    GameEditorial:
      properties:
        type:
          type: string
          example: article
        state:
          type: string
          example: A
        date:
          type: string
          format: date-time
        id:
          type: string
          example: "295823824"
        headline:
          type: string
          example: Oilers at Sharks preview
        subhead:
          type: string
          example: "Backups Montoya, Dell to start for Edmonton, San Jose"
        seoTitle:
          type: string
          example: Edmonton Oilers San Jose Sharks game preview
        seoDescription:
          type: string
          example: Backup goaltender Aaron Dell will make his 19th start of the season
            when the San Jose Sharks play the Edmonton Oilers at SAP Center on Saturday
            in the first of back-to-back games.
        seoKeywords:
          type: string
          example: "Game preview, Edmonton Oilers, San Jose Sharks, Aaron Dell, Al\
            \ Montoya, Feb 10"
        slug:
          type: string
          example: edmonton-oilers-san-jose-sharks-game-preview
        commenting:
          type: boolean
        tagline:
          type: string
        tokenData:
          $ref: '#/components/schemas/GameEditorial_tokenData'
        contributor:
          $ref: '#/components/schemas/GameEditorial_contributor'
        keywordsDisplay:
          type: array
          items:
            $ref: '#/components/schemas/GameEditorialKeyword'
        keywordsAll:
          type: array
          items:
            $ref: '#/components/schemas/GameEditorialKeyword'
        approval:
          type: string
        url:
          type: string
          example: /news/edmonton-oilers-san-jose-sharks-game-preview/c-295823824?game_pk=2017020851
        dataURI:
          type: string
          example: /nhl/id/v1/295823824/details/web-v1.json
        primaryKeyword:
          $ref: '#/components/schemas/GameEditorialKeyword'
        media:
          $ref: '#/components/schemas/GameEditorial_media'
        preview:
          type: string
          format: html
          example: "<p><b>OILERS (23-26-4) at SHARKS (28-18-8)</b></p><p><b>10 p.m.\
            \ ET; NBCSCA, CITY, SN360, SN, NHL.TV</b></p><p>&nbsp;</p><h5><b>The Game</b></h5><p>Backup\
            \ goaltender <span class=\"token token-playerCard\" id=\"token-B36CCB71E81996298E792\"\
            >Aaron Dell</span> will make his 19th start of the season when the San\
            \ Jose Sharks play the Edmonton Oilers at SAP Center on Saturday in the\
            \ first of back-to-back games.</p>"
      example:
        date: 2000-01-23T04:56:07.000+00:00
        primaryKeyword: null
        preview: "<p><b>OILERS (23-26-4) at SHARKS (28-18-8)</b></p><p><b>10 p.m.\
          \ ET; NBCSCA, CITY, SN360, SN, NHL.TV</b></p><p>&nbsp;</p><h5><b>The Game</b></h5><p>Backup\
          \ goaltender <span class=\"token token-playerCard\" id=\"token-B36CCB71E81996298E792\"\
          >Aaron Dell</span> will make his 19th start of the season when the San Jose\
          \ Sharks play the Edmonton Oilers at SAP Center on Saturday in the first\
          \ of back-to-back games.</p>"
        tokenData:
          teamId: "28"
          name: Marc-Edouard Vlasic
          tokenGUID: token-EBDA2F0039BF4445D2C91
          id: "8471709"
          href: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
          type: hyperLink
          hrefMobile: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
          seoName: marc-edouard-vlasic
        seoDescription: Backup goaltender Aaron Dell will make his 19th start of the
          season when the San Jose Sharks play the Edmonton Oilers at SAP Center on
          Saturday in the first of back-to-back games.
        approval: approval
        dataURI: /nhl/id/v1/295823824/details/web-v1.json
        subhead: "Backups Montoya, Dell to start for Edmonton, San Jose"
        media:
          image:
            altText: altText
            title: title
            cuts:
              at2x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
              src: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
              at3x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
              width: 2568
              aspectRatio: 16:9
              height: 1444
          type: photo
        type: article
        seoTitle: Edmonton Oilers San Jose Sharks game preview
        seoKeywords: "Game preview, Edmonton Oilers, San Jose Sharks, Aaron Dell,\
          \ Al Montoya, Feb 10"
        keywordsDisplay:
        - displayName: English
          type: bodyParagraphCount
          value: en
        - displayName: English
          type: bodyParagraphCount
          value: en
        url: /news/edmonton-oilers-san-jose-sharks-game-preview/c-295823824?game_pk=2017020851
        keywordsAll:
        - null
        - null
        contributor:
          contributors:
          - twitter: twitter
            name: Eric Gilmore
          - twitter: twitter
            name: Eric Gilmore
          source: NHL.com Correspondent
        tagline: tagline
        state: A
        id: "295823824"
        commenting: true
        headline: Oilers at Sharks preview
        slug: edmonton-oilers-san-jose-sharks-game-preview
    GameEditorialKeyword:
      properties:
        type:
          type: string
          enum:
          - bodyParagraphCount
          - bodyWordCount
          - clob_autoTagSkip_playerCards
          - content
          - embeddable
          - gameId
          - language
          - playerId
          - previewParagraphCount
          - primaryTag
          - previewWordCount
          - shareable
          - statsEventId
          - teamFileCode
          - teamId
        value:
          type: string
          example: en
        displayName:
          type: string
          example: English
      example:
        displayName: English
        type: bodyParagraphCount
        value: en
    GameEditorials:
      properties:
        title:
          type: string
          example: Preview
        topicList:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/GameEditorial'
      example:
        title: Preview
        items:
        - date: 2000-01-23T04:56:07.000+00:00
          primaryKeyword: null
          preview: "<p><b>OILERS (23-26-4) at SHARKS (28-18-8)</b></p><p><b>10 p.m.\
            \ ET; NBCSCA, CITY, SN360, SN, NHL.TV</b></p><p>&nbsp;</p><h5><b>The Game</b></h5><p>Backup\
            \ goaltender <span class=\"token token-playerCard\" id=\"token-B36CCB71E81996298E792\"\
            >Aaron Dell</span> will make his 19th start of the season when the San\
            \ Jose Sharks play the Edmonton Oilers at SAP Center on Saturday in the\
            \ first of back-to-back games.</p>"
          tokenData:
            teamId: "28"
            name: Marc-Edouard Vlasic
            tokenGUID: token-EBDA2F0039BF4445D2C91
            id: "8471709"
            href: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
            type: hyperLink
            hrefMobile: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
            seoName: marc-edouard-vlasic
          seoDescription: Backup goaltender Aaron Dell will make his 19th start of
            the season when the San Jose Sharks play the Edmonton Oilers at SAP Center
            on Saturday in the first of back-to-back games.
          approval: approval
          dataURI: /nhl/id/v1/295823824/details/web-v1.json
          subhead: "Backups Montoya, Dell to start for Edmonton, San Jose"
          media:
            image:
              altText: altText
              title: title
              cuts:
                at2x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                src: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                at3x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                width: 2568
                aspectRatio: 16:9
                height: 1444
            type: photo
          type: article
          seoTitle: Edmonton Oilers San Jose Sharks game preview
          seoKeywords: "Game preview, Edmonton Oilers, San Jose Sharks, Aaron Dell,\
            \ Al Montoya, Feb 10"
          keywordsDisplay:
          - displayName: English
            type: bodyParagraphCount
            value: en
          - displayName: English
            type: bodyParagraphCount
            value: en
          url: /news/edmonton-oilers-san-jose-sharks-game-preview/c-295823824?game_pk=2017020851
          keywordsAll:
          - null
          - null
          contributor:
            contributors:
            - twitter: twitter
              name: Eric Gilmore
            - twitter: twitter
              name: Eric Gilmore
            source: NHL.com Correspondent
          tagline: tagline
          state: A
          id: "295823824"
          commenting: true
          headline: Oilers at Sharks preview
          slug: edmonton-oilers-san-jose-sharks-game-preview
        - date: 2000-01-23T04:56:07.000+00:00
          primaryKeyword: null
          preview: "<p><b>OILERS (23-26-4) at SHARKS (28-18-8)</b></p><p><b>10 p.m.\
            \ ET; NBCSCA, CITY, SN360, SN, NHL.TV</b></p><p>&nbsp;</p><h5><b>The Game</b></h5><p>Backup\
            \ goaltender <span class=\"token token-playerCard\" id=\"token-B36CCB71E81996298E792\"\
            >Aaron Dell</span> will make his 19th start of the season when the San\
            \ Jose Sharks play the Edmonton Oilers at SAP Center on Saturday in the\
            \ first of back-to-back games.</p>"
          tokenData:
            teamId: "28"
            name: Marc-Edouard Vlasic
            tokenGUID: token-EBDA2F0039BF4445D2C91
            id: "8471709"
            href: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
            type: hyperLink
            hrefMobile: https://www.nhl.com/player/keegan-lowe-8476397?season=20172018
            seoName: marc-edouard-vlasic
          seoDescription: Backup goaltender Aaron Dell will make his 19th start of
            the season when the San Jose Sharks play the Edmonton Oilers at SAP Center
            on Saturday in the first of back-to-back games.
          approval: approval
          dataURI: /nhl/id/v1/295823824/details/web-v1.json
          subhead: "Backups Montoya, Dell to start for Edmonton, San Jose"
          media:
            image:
              altText: altText
              title: title
              cuts:
                at2x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                src: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                at3x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
                width: 2568
                aspectRatio: 16:9
                height: 1444
            type: photo
          type: article
          seoTitle: Edmonton Oilers San Jose Sharks game preview
          seoKeywords: "Game preview, Edmonton Oilers, San Jose Sharks, Aaron Dell,\
            \ Al Montoya, Feb 10"
          keywordsDisplay:
          - displayName: English
            type: bodyParagraphCount
            value: en
          - displayName: English
            type: bodyParagraphCount
            value: en
          url: /news/edmonton-oilers-san-jose-sharks-game-preview/c-295823824?game_pk=2017020851
          keywordsAll:
          - null
          - null
          contributor:
            contributors:
            - twitter: twitter
              name: Eric Gilmore
            - twitter: twitter
              name: Eric Gilmore
            source: NHL.com Correspondent
          tagline: tagline
          state: A
          id: "295823824"
          commenting: true
          headline: Oilers at Sharks preview
          slug: edmonton-oilers-san-jose-sharks-game-preview
        topicList: topicList
    GameHighlight:
      properties:
        type:
          type: string
          enum:
          - video
        id:
          type: string
          example: "57602103"
        date:
          type: string
          format: date-time
        title:
          type: string
          example: Goodrow buries Hansen's pass
        blurb:
          type: string
          example: "EDM@SJS: Goodrow snaps Hansen's pass by Montoya"
        description:
          type: string
          example: Barclay Goodrow takes a drop pass from Jannik Hansen and whips
            a quick wrist shot past Al Montoya to give the Sharks a 3-0 lead in the
            2nd
        duration:
          type: string
          example: 00:51
        authFlow:
          type: boolean
        mediaPlaybackId:
          type: string
          example: "57602103"
        mediaState:
          type: string
          example: MEDIA_ARCHIVE
        keywords:
          type: array
          items:
            $ref: '#/components/schemas/GameEditorialKeyword'
        image:
          $ref: '#/components/schemas/Photo'
        playbacks:
          type: array
          items:
            $ref: '#/components/schemas/GameHighlight_playbacks'
      example:
        date: 2000-01-23T04:56:07.000+00:00
        playbacks:
        - name: FLASH_192K_320X180
          width: "960"
          url: http://md-akc.med.nhl.com/mp4/nhl/2018/02/11/ddec1fcc-3772-4769-a547-314de76c6c11/1518322152840/asset_1800k.mp4
          height: "540"
        - name: FLASH_192K_320X180
          width: "960"
          url: http://md-akc.med.nhl.com/mp4/nhl/2018/02/11/ddec1fcc-3772-4769-a547-314de76c6c11/1518322152840/asset_1800k.mp4
          height: "540"
        image: null
        keywords:
        - null
        - null
        description: Barclay Goodrow takes a drop pass from Jannik Hansen and whips
          a quick wrist shot past Al Montoya to give the Sharks a 3-0 lead in the
          2nd
        type: video
        title: Goodrow buries Hansen's pass
        blurb: "EDM@SJS: Goodrow snaps Hansen's pass by Montoya"
        mediaPlaybackId: "57602103"
        authFlow: true
        duration: 00:51
        id: "57602103"
        mediaState: MEDIA_ARCHIVE
    GameHighlights:
      properties:
        scoreboard:
          $ref: '#/components/schemas/GameHighlightType'
        gameCenter:
          $ref: '#/components/schemas/GameHighlightType'
      example:
        gameCenter: null
        scoreboard:
          title: Highlights
          items:
          - null
          - null
          topicList: "293642378"
    GameHighlightType:
      properties:
        title:
          type: string
          example: Highlights
        topicList:
          type: string
          example: "293642378"
        items:
          type: array
          items:
            $ref: '#/components/schemas/GameHighlight'
      example:
        title: Highlights
        items:
        - null
        - null
        topicList: "293642378"
    GamePeriod:
      properties:
        periodType:
          type: string
          example: REGULAR
        startTime:
          type: string
          format: date-time
          example: 2018-02-11T03:09:50Z
        endTime:
          type: string
          format: date-time
          example: 2018-02-11T03:44:47Z
        num:
          type: number
          example: 1
        ordinalNum:
          type: string
          example: 1st
        home:
          $ref: '#/components/schemas/GamePeriod_home'
        away:
          $ref: '#/components/schemas/GamePeriod_away'
      example:
        periodType: REGULAR
        away:
          shotsOnGoal: 9
          goals: 0
          rinkSide: right
        ordinalNum: 1st
        num: 1
        startTime: 2018-02-11T03:09:50Z
        endTime: 2018-02-11T03:44:47Z
        home:
          shotsOnGoal: 14
          goals: 2
          rinkSide: left
    GameDecisionPlayer:
      properties:
        id:
          type: number
          example: 8477180
        fullName:
          type: string
          example: Aaron Dell
        link:
          type: string
          format: uri
          example: /api/v1/people/8477180
      example:
        link: /api/v1/people/8477180
        fullName: Aaron Dell
        id: 8477180
    GameLinescore:
      properties:
        currentPeriod:
          type: number
          example: 3
        currentPeriodOrdinal:
          type: string
          example: 3rd
        currentPeriodTimeRemaining:
          type: string
          example: Final
        periods:
          type: array
          items:
            $ref: '#/components/schemas/GamePeriod'
        shootoutInfo:
          $ref: '#/components/schemas/GameLinescore_shootoutInfo'
        teams:
          $ref: '#/components/schemas/GameLinescore_teams'
        powerPlayStrength:
          type: string
          example: Even
        hasShootout:
          type: boolean
        intermissionInfo:
          $ref: '#/components/schemas/GameLinescore_intermissionInfo'
        powerPlayInfo:
          $ref: '#/components/schemas/GameLinescore_powerPlayInfo'
      example:
        teams:
          away: null
          home:
            powerPlay: true
            shotsOnGoal: 30
            team:
              name: San Jose Sharks
              link: /api/v1/teams/28
              id: 28
              triCode: SJS
              abbreviation: SJS
            numSkaters: 5
            goaliePulled: true
            goals: 6
        periods:
        - periodType: REGULAR
          away:
            shotsOnGoal: 9
            goals: 0
            rinkSide: right
          ordinalNum: 1st
          num: 1
          startTime: 2018-02-11T03:09:50Z
          endTime: 2018-02-11T03:44:47Z
          home:
            shotsOnGoal: 14
            goals: 2
            rinkSide: left
        - periodType: REGULAR
          away:
            shotsOnGoal: 9
            goals: 0
            rinkSide: right
          ordinalNum: 1st
          num: 1
          startTime: 2018-02-11T03:09:50Z
          endTime: 2018-02-11T03:44:47Z
          home:
            shotsOnGoal: 14
            goals: 2
            rinkSide: left
        powerPlayStrength: Even
        hasShootout: true
        intermissionInfo:
          intermissionTimeRemaining: 0
          intermissionTimeElapsed: 0
          inIntermission: true
        powerPlayInfo:
          inSituation: true
          situationTimeElapsed: 72
          situationTimeRemaining: 0
        currentPeriodOrdinal: 3rd
        currentPeriodTimeRemaining: Final
        currentPeriod: 3
        shootoutInfo:
          away:
            scores: 0
            attempts: 0
          home: null
    GameLinescoreTeam:
      properties:
        team:
          $ref: '#/components/schemas/GameBoxscoreTeam_team'
        goals:
          type: number
          example: 6
        shotsOnGoal:
          type: number
          example: 30
        goaliePulled:
          type: boolean
        numSkaters:
          type: number
          example: 5
        powerPlay:
          type: boolean
      example:
        powerPlay: true
        shotsOnGoal: 30
        team:
          name: San Jose Sharks
          link: /api/v1/teams/28
          id: 28
          triCode: SJS
          abbreviation: SJS
        numSkaters: 5
        goaliePulled: true
        goals: 6
    GameMediaAudio:
      properties:
        title:
          type: string
          example: Audio
        items:
          type: array
          items:
            $ref: '#/components/schemas/GameMediaAudio_items'
    GameMediaNHLTV:
      properties:
        title:
          type: string
          example: NHLTV
        platform:
          type: string
          example: web
        items:
          type: array
          items:
            $ref: '#/components/schemas/GameMediaNHLTV_items'
    GameOfficial:
      properties:
        official:
          $ref: '#/components/schemas/GameOfficial_official'
        officialType:
          type: string
          enum:
          - Linesman
          - Referee
      example:
        officialType: Linesman
        official:
          link: /api/v1/people/2071
          fullName: Tim Peel
          id: 2071
    GamePlay:
      properties:
        players:
          type: array
          items:
            $ref: '#/components/schemas/GamePlay_players'
        result:
          $ref: '#/components/schemas/GamePlay_result'
        about:
          $ref: '#/components/schemas/GamePlay_about'
        coordinates:
          $ref: '#/components/schemas/GamePlay_coordinates'
        team:
          $ref: '#/components/schemas/GamePlay_team'
      example:
        result:
          eventCode: SJS505
          eventTypeId: GAME_END
          description: Game End
          event: Game End
        players:
        - playerType: Winner
          player:
            link: /api/v1/people/8476881
            fullName: Tomas Hertl
            id: 8476881
        - playerType: Winner
          player:
            link: /api/v1/people/8476881
            fullName: Tomas Hertl
            id: 8476881
        about:
          eventIdx: 315
          dateTime: 2018-02-11T05:30:42Z
          eventId: 505
          period: 3
          periodType: REGULAR
          ordinalNum: 3rd
          periodTime: 20:00
          periodTimeRemaining: 00:00
          goals:
            away: 4
            home: 6
        coordinates:
          x: 0
          "y": 0
        team:
          name: San Jose Sharks
          link: /api/v1/teams/28
          id: 28
          triCode: SJS
    Photo:
      properties:
        title:
          type: string
        altText:
          type: string
        cuts:
          $ref: '#/components/schemas/Photo_cuts'
      example:
        altText: altText
        title: title
        cuts:
          at2x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
          src: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
          at3x: https://nhl.bamcontent.com/images/photos/295824704/2568x1444/cut.jpg
          width: 2568
          aspectRatio: 16:9
          height: 1444
    Player:
      properties:
        id:
          type: number
          example: 8466138
        fullName:
          type: string
          example: Joe Thornton
        link:
          type: string
          format: uri
          example: /api/v1/people/8466138
        firstName:
          type: string
          example: Joe
        lastName:
          type: string
          example: Thornton
        primaryNumber:
          type: string
          example: "19"
        birthDate:
          type: string
          format: date
          example: 1979-07-02
        currentAge:
          type: number
          example: 38
        birthCity:
          type: string
          example: London
        birthStateProvince:
          type: string
          example: "ON"
        birthCountry:
          type: string
          example: CAN
        nationality:
          type: string
          example: CAN
        height:
          type: string
          example: 6' 4"
        weight:
          type: number
          example: 220
        active:
          type: boolean
        alternateCaptain:
          type: boolean
        captain:
          type: boolean
        rookie:
          type: boolean
        shootsCatches:
          type: string
          enum:
          - L
          - R
        rosterStatus:
          type: string
          example: I
        currentTeam:
          $ref: '#/components/schemas/Player_currentTeam'
        primaryPosition:
          $ref: '#/components/schemas/DraftProspect_primaryPosition'
      example:
        currentTeam: null
        lastName: Thornton
        birthStateProvince: "ON"
        link: /api/v1/people/8466138
        rosterStatus: I
        fullName: Joe Thornton
        weight: 220
        active: true
        birthCity: London
        captain: true
        birthDate: 1979-07-02T00:00:00.000+00:00
        rookie: true
        primaryNumber: "19"
        primaryPosition: null
        firstName: Joe
        currentAge: 38
        nationality: CAN
        alternateCaptain: true
        birthCountry: CAN
        id: 8466138
        height: 6' 4"
        shootsCatches: L
    Players:
      required:
      - copyright
      - people
      properties:
        copyright:
          type: string
        teams:
          type: array
          items:
            $ref: '#/components/schemas/Player'
      example:
        copyright: copyright
        teams:
        - currentTeam: null
          lastName: Thornton
          birthStateProvince: "ON"
          link: /api/v1/people/8466138
          rosterStatus: I
          fullName: Joe Thornton
          weight: 220
          active: true
          birthCity: London
          captain: true
          birthDate: 1979-07-02T00:00:00.000+00:00
          rookie: true
          primaryNumber: "19"
          primaryPosition: null
          firstName: Joe
          currentAge: 38
          nationality: CAN
          alternateCaptain: true
          birthCountry: CAN
          id: 8466138
          height: 6' 4"
          shootsCatches: L
        - currentTeam: null
          lastName: Thornton
          birthStateProvince: "ON"
          link: /api/v1/people/8466138
          rosterStatus: I
          fullName: Joe Thornton
          weight: 220
          active: true
          birthCity: London
          captain: true
          birthDate: 1979-07-02T00:00:00.000+00:00
          rookie: true
          primaryNumber: "19"
          primaryPosition: null
          firstName: Joe
[...]
